<!DOCTYPE html>
<!-- templatemo 413 flip turn -->
<!-- 
Flip Turn Template 
http://www.templatemo.com/preview/templatemo_413_flip_turn
-->

{% extends "index.html" %}
<head>
	<title>Snap Turn - Articles</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/templatemo_style.css">
	<link href="/static/css/signup-form.css" rel="stylesheet" type="text/css">
</head>
		{% block content %}
	<input type="hidden" value="{{ article.id }}" name="id_article" id="id_pagentn">
		<div class="content-container">
			<header id="awards">
				<h1 class="center-text">Our Awards</h1>
				<h2 class="center-text">Proin vel tincidunt elit. In quis tincidunt dolor. In lorem mi, egestas posuere augue tristique, mattis semper est. Fusce feugiat dignissim orci, et pharetra felis ullamcorper sed.</h2>
			</header>
			<div id="templatemo_timeline" class="content">
				<div class="container-fluid">
					<div class="time_line_wap left_timeline">		            
						<div class="time_line_paragraph">
							<div class="time_line_caption left">{{ article.created_by }}</div>
							<div class="time_line_icon right"><i class="fa fa-chain"></i></div>	
							<h1>{{ article.title }}</h1>
							<p>{{article.summary}}</p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.content-container -->	
		{% include 'comments.html'%}
		{% endblock %}	
		<footer>
			<p>Copyright &copy; 2084 Your Company Name</p>
			<div class="social right">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
			</div>
		</footer>
	</div>	
</body>
</html>